body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

header, footer, .hero{
    background-color: #1f2937;
}

.header{
    display: flex;    
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px 200px 0px 200px;
    align-items: center;
    
}

.header .header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.right-links a{
    text-decoration-line: none;
    color: #e5e7eb;;
    font-size: 18px;
}

.right-links{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:16px ;
}

.hero{
    display: flex;
    padding: 150px 200px;
    gap: 48px;
    justify-content: space-between;
}

.hero img{
    width:700px ;
    height: auto;
}

.hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 350px;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
    max-width: 475px;
}

.hero button{
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    padding: 9px 36px;
    border: 0px;
    font-weight: bold;
}